header {
    height: 60px;
    margin: -8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.header-logo {
    color: #fff;
    font-size: 25px;
    margin: 15px 25px;
}

.header_img {
    height: 40px;
    margin: 15px 25px;
}

.main {
    height: 370px;
}

body {
    margin: 0;
    background-image:url("./images/back.png");
    background-repeat: no-repeat;
    background-position: 50% 35%;
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;
    background-size: 300px;
}


h2 {
    color: #444444;
    margin: 90px 0px;
    text-align: center;
}

p {
    color: #444444;
    margin: 70px 0px 30px 0px;
    text-align: center;
}

li {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 490px;
}

.answer {
    color: #444444;
    margin: 70px 0px 30px 0px;
    text-align: center;
}

form {
    text-align: center;
}

footer {
    background-color: #F7F7F7;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center; /*下に固定*/
}

.footer_img {
    margin: 26px 45% auto;
    height: 70px;
}

small {
    margin: 25px 25px;
    position: absolute;
    left: 0;
    bottom: 0;
}

label{
    display: inline-block;
    text-align: right;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    padding: 8px-16px;

}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #55acee;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
    border: #3b94d9;
    white-space: nowrap;
    padding: 6px-12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-lg {
    padding: 10px-16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

