<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content="device-width, initial-scale=1.0">
    <meta http-equiv='X-UA-Compatible' content="ie=edge">
    <title>Finding Twitter Targeting_Users Application</title>
    <link rel='stylesheet' href="./static/stylesheet.css">
</head>
<body>
    <header>
        <img class='header_img' src="./static/images/logo_color.png" alt="wywy">
        <a class='header-logo' href="#">Your Twitter Helper</a>
    </header>

    <div class='main'>
        <h2>Finding Twitter Targeting_Users Application</h2>
        <p>選択したツイートに「いいね」したユーザーの中から、そのツイートにもっとも親和性の高いユーザーを「AI」が見つけます。</p>
        <div>
            <p>15分ほどで結果をメールに送信します。このページを閉じてお待ちください。</p>
        </div>
    </div>

    <footer>
        <img class="footer_img">
    </footer>
</body>
</html>