<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content="device-width, initial-scale=1.0">
    <meta http-equiv='X-UA-Compatible' content="ie=edge">
    <title>Finding Twitter Targeting_Users Application</title>
    <link rel='stylesheet' href="./static/stylesheet.css">
</head>
<body>
    <header>
        <img class='header_img' src="./static/images/logo_color.png" alt="wywy">
        <a class='header-logo' href="#">Your Twitter Helper</a>
    </header>

    <div class='main'>
        <h2>Finding Twitter Targeting_Users Application</h2>
        <form action='/post_tweets' method='POST' enctype="multipart/form-data">
            <div>
                {% if is_error==1 %}
                    <li style="line-height: 4em">ツイートが存在しなかったのでもう一度別のキーワードを入力してください</li>
                {% else %}
                    <li style="line-height: 4em">関心のあるキーワードを一つ入力してください</li>
                {% endif %}
                <label for="keyword">キーワード：</label>
                <input type='text' name='keyword' placeholder='キーワード'>
                <li style="line-height: 4em">処理結果をレポートするための送信先と宛名を入力してください</li>
                <label for="keyword">送信先メールアドレス：</label>
                <input type='text' name='mail_address' placeholder='メールアドレス'>
                <div>
                    <label for="keyword">宛名：</label>
                    <input type='text' name='name' placeholder='お名前'>
                </div>
            </div>
            <div>
                <div style="line-height: 9em"><input class="btn btn-primary btn-lg" type="submit" value="Send" ></div>
            </div>
        </form>
    </div>

    <footer>
        <img class="footer_img">
    </footer>
</body>
</html>