<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content="device-width, initial-scale=1.0">
    <meta http-equiv='X-UA-Compatible' content="ie=edge">
    <title>Finding Twitter Targeting_users Application</title>
    <link rel='stylesheet' href="./static/stylesheet.css">
</head>
<body>
    <header>
        <img class='header_img' src="./static/images/logo_color.png" alt="wywy">
        <a class='header-logo' href="#">Your Twitter Helper</a>
    </header>

    <div class='main'>
        <h2> Finding Twitter Targeting_users Application</h2>
        <p>関心のあるキーワードを一つ入力してください（例：「Kaggle」「業務効率化」）</p>
        <form action='/post_tweets' method='POST' enctype="multipart/form-data">
            <div>
                <label for="keyword">キーワード：</label>
                <input type='text' name='keyword' placeholder='キーワード'>
            </div>
            <div>
                <input type="submit" value="送信" >
            </div>
        </form>
    </div>

    <footer>
        <img class="footer_img" src="./static/images/logo_color.png" alt="wywy">
    </footer>
</body>
</html>