<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content="device-width, initial-scale=1.0">
    <meta http-equiv='X-UA-Compatible' content="ie=edge">
    <title>Finding Twitter Targeting_users Application</title>
    <link rel='stylesheet' href="./static/stylesheet.css">
</head>
<body>
    <header>
        <img class='header_img' src="./static/images/logo_color.png" alt="wywy">
        <a class='header-logo' href="#">Your Twitter Helper</a>
    </header>

    < class='main'>
        <h2> Finding Twitter Targeting_users Application</h2>
        <h3>選択したツイート文にいいねしたユーザーの中から、そのツイートにもっとも親和性の高いユーザーをAIが見つけます</h3>
        <div>
            <p>そのままお待ちください。処理に1分程度かかります</p>
        </div>
    </div>

    <footer>
        <img class="footer_img" src="./static/images/logo_color.png" alt="wywy">
    </footer>
</body>
</html>