{% extends "base.html" %}

{% block content %}
        <table id="data" class="table table-striped">
            <thead>
                <tr>{%- for col in df_columns %}<th>{{ col|e }}</th>{%- endfor %}</tr>
            </thead>
            <tbody>
                <p id="result"></p>
                {%- for i, arr in zip(df_index, df_values) %}
                <tr>{%- for val in arr%}<td><a href="/get_keyword?index={{i}}">{{ val|e }}</a></td>{%- endfor %}</tr>
                {%- endfor %}
            </tbody>
        </table>
            <script type="text/javascript">
            // $("#data tr td").click(function(){
            //       var self = this;
            //   $("#result").html("取得した値:"$(self).text());
            // });
            $('#data td').click(function(){
                var row = $(this).closest('tr').index();
                var col = this.cellIndex;
                console.log('Row: ' + row + ', Column: ' + col);
            });
            </script>
    {% endblock %}
