{% extends "base.html" %}

{% block content %}
        <table id="data" class="table table-striped">
            <thead>
                <tr>{%- for col in df_columns[:2] %}<th>{{ col }}</th>{%- endfor %}</tr>
            </thead>
            <tbody>
                <p id="result"></p>
                {%- for arr in df_values %}
                <tr>{%- for val in arr[:2]%}<td><a href="/display_information?twitter_id={{arr[2]}}">{{ val }}</a></td>{%- endfor %}</tr>
                {%- endfor %}
            </tbody>
        </table>
    {% endblock %}
